body {
  margin: 0;
  background-color: #140c1f !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
