.Forms {
  margin-top: 70px;
}

.Forms label {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
}
.Forms input {
  background: #140c1f;
  padding: 20px;
}
.Forms textarea {
  background: #140c1f;
  margin-bottom: 30px;
}
@media screen and (max-width: 991.2px) {
  .b-group {
    text-align: center !important;
  }
}
